.header {
    width: calc(100%);
    display: inline-block;
    background: white;
    padding-bottom: 50px;
    font-family: ost;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}


@font-face {
    font-family: ost;
    src: url('../fonts/ost.otf');
}

.card {
border-radius: 10px;
height: 400px;
background: linear-gradient(to left,#066bff,#9ae4f3);
text-align: center;
margin-top: 100px;
flex-grow: 3;
flex-basis: 300;
margin-inline: 80px;
box-shadow: 15px 15px 15px 15px rgb(199, 255, 255);
border-color: black;
border-width: 3px;
border-style: solid;
}



.container {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }



 .menu {
display: inline-flex;
text-align: center;
border-color: black;
border-width: 3px;
border-style: solid;
background: linear-gradient(to left,#066bff,#9ae4f3);

 }


 .menu a{
    margin-right: 20px;
    margin-left: 20px;
    font-size: 30px;
    text-decoration: none;
    background-color: #B4B8C5;
 }
 .menu a:hover{
    margin-right: 20px;
    margin-left: 20px;
    font-size: 30px;
    text-decoration: none;
    background-color: rgb(158, 15, 15);
 }